.form {


     z-index: 10;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);

     &__wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20%;
          min-width: 280px;

          
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          box-sizing: border-box;
          padding: 20px;
          border: 1px solid #FBFF22;
          border-radius: 45px 10px 45px 10px;

          &:focus {
               border: 1px solid #FBFF22;
          }
     }

     &__content {
          flex: 1 1 100%;
          // overflow: hidden;
          color: #FBFF22;
     }

     input {
          display: block;
          width: 90%;
          height: 12%;
          padding: .5em;
          border: 1px solid #999;
          color: #FBFF22;
          border-radius:5px;
          background-color: inherit;
          font-weight: 400;
          transition: all 0.3s ease 0s;
          
          &::placeholder {
               color: #999;
               font-size: 10px;
          }
          &:not(:last-child) {
               margin-bottom: 1em;
          }

          &:focus {
               border: 1px solid #FBFF22;
               transform: scale(1.11);
          }
     }

     &__text-area {
          resize: none;
          width: 90%;
          margin: 10px 0;
          height: 100px;
          padding: 10px;
          background-color: #3c3c3c68;
          color:#FBFF22;
          font-weight: 400;
          overflow: auto;
          transition: all 0.3s ease 0s;
          border-radius: 15px 45px;

          &::placeholder {
               color: #999;
               font-size: 10px;
          }

          &:focus {
               border: 1px solid #FBFF22;
               transform: scale(1.11);
          }
     }

     &__name-input {
     }

     &__phone-input {
     }

     &__link-input {
     }

     &__btn-input {
     }

     &__close {
          color:#FBFF22;
          position: absolute;
          right: -40px;
          top: -40px;
     }
}
