.form {
     z-index: 10;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     // background: url("../../assets/mainPage/daria.jpg") 85% 25% / 300px  no-repeat  rgba(0, 0, 0, .91);
     background-color:  rgba(0, 0, 0, .91);
     overflow: auto;

     &__wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30%;
          height: 100%;
          max-height: 450px;
          max-width: 400px;
          min-width: 300px;
          background-color: #000;
          overflow: auto;

          
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          box-sizing: border-box;
          padding: 50px 0 10px 0;
          border: 1px solid #FBFF22;
          border-radius: 45px 10px 45px 10px;
          box-shadow: inset -12px 12px 400px #858577;

          &:focus {
               border: 1px solid #FBFF22;
          }
     }

     &__content {
          flex: 1 1 100%;
          // overflow: hidden;
          color: #FBFF22;
          position: relative;

          span {
               position: absolute;
               top: 33px;
               font-size: 10px;
               color: red;
          }

          &::before,
          &::after {
               content: "*";
               font-size: 15px;
               display: inline-block;
               position: absolute;
               top: 0;
               left: -25px;
               color: #FBFF22;
          }

          &::after {
               top: 45px;
          }
          
     }

     input {
          display: block;
          width: 100%;
          // height: 12%;
          padding: .5em;
          border: 1px solid #999;
          color: #999;
          border-radius:5px;
          background-color: inherit;
          font-weight: 400;
          transition: all 0.3s ease 0s;
          
          &::placeholder {
               color: #999;
               font-size: 10px;
          }
          &:not(:last-child) {
               margin-bottom: 1em;
          }

          &:focus {
               border: 1px solid #FBFF22;
               color: #FBFF22;
               transform: scale(1.11);
          }
     }

     &__text-area {
          resize: none;
          width: 100%;
          margin: 10px 0;
          height: 150px;
          padding: 10px;
          background-color: #3c3c3c68;
          color:#FBFF22;
          font-weight: 400;
          overflow: auto;
          transition: all 0.3s ease 0s;
          border-radius: 15px 45px;

          &::placeholder {
               color: #999;
               font-size: 10px;
          }

          &:focus {
               border: 1px solid #FBFF22;
               transform: scale(1.11);
          }
     }

     &__invalidNameInput {
          border: 1px solid red !important;
          color: red !important;
     }

     &__validNameInput {
          border: 1px solid green !important;
          color: green !important;
          transform: scale(1.1);
     }

     &__close {
          color:#fff;
          font-size: 32px;
          position: absolute;
          right: 10px;
          top: 0px;
     }

     &__name-input {
          position: relative;
         
     }

     &__phone-input {
     }

     &__link-input {
          &:valid {
               border: 1px solid green;
               color: green;
               transform: scale(1.1);
          }
     }

     &__btn-input {
     }

     
}
     