.content-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.content-block {
     margin-top: 50px;
     font-size: 25px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     
     flex-wrap: nowrap;
     gap: 60px;
          
     // &_consult {
     //      flex-direction: row-reverse;
     // }

     @media (max-width: 1240px) {
          flex-wrap: wrap;
          justify-content: center;
     };   

     @media (min-width: 550px) {
          padding: 10px 30px;
     };

     &__first-col {
          flex: 1 1 auto;
          // height: 610px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #FBFF22;
          border-radius: 15px;
          box-shadow: inset -12px 12px 400px #FBFF22;
          transition: box-shadow 1.3s ease 0s;
          padding: 5px 0;

          &:hover {
               box-shadow: inset -12px 12px 102px #FBFF22;
          }

          @media (min-width: 450px) {
               padding: 25px 0px;
          };

          @media (min-width: 550px) {
               flex: 0 1 500px;
               padding: 5px 10px;
          };
     }

     &__second-col {
          @extend .content-block__first-col;
          flex: 0 1 500px;
          height: 500px;
          box-shadow: inset -12px 12px 400px #848483;

          @media (max-width: 600px) {
               height: 360px;
          };
     }

     &__wrapper {
          flex: 1 1 auto;
     }

     &__title {
          text-align: center;
          line-height: 45px;
          font-size: 35px;
     }

     &__list {
          padding-left: 20px;
          margin: 40px 0;
          font-size: 20px;

          span {
               display: inline-block;
               padding-bottom: 10px;
          }

     }

     &__item {
          position: relative;
          padding-left: 30px;
          font-size: 20px;

          &:not(:last-child) {
               margin-bottom: 30px;
          }

          &_consult {
               font-size: 15px;
               margin: 0px 0 0px 20px;
               line-height: 1.5em;

               &:not(:last-child) {
                    margin-bottom: 10px;
               }
          }

          &::before {
               content: "";
               display: inline-block;
               position: absolute;
               left: 0;
               top: 0;
               width: 20px;
               height: 20px;
               margin-right: 10px;
               background: url("../../assets/mainPage/disc.svg") no-repeat center/cover;
          }
     }

     @media (max-width: 600px) {
          padding: 10px 0 0 0px;
     };
}
