.content-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.content-block {
     margin-top: 50px;
     font-size: 25px;
     padding: 10px 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     
     flex-wrap: nowrap;
     gap: 60px;
          
     // &_consult {
     //      flex-direction: row-reverse;
     // }

     @media (max-width: 1240px) {
          flex-wrap: wrap;
          justify-content: center;

     };   

     &__first-col {
          flex: 0 1 500px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #FBFF22;
          border-radius: 15px;
          box-shadow: inset -12px 12px 400px #FBFF22;
          transition: box-shadow 1.3s ease 0s;

          &:hover {
               box-shadow: inset -12px 12px 102px #FBFF22;
          }

          @media (min-width: 450px) {
               padding: 15px 10px;
          };
     }

     &__second-col {
          @extend .content-block__first-col;
          flex: 0 1 500px;
          height: 500px;
          box-shadow: inset -12px 12px 400px #848483;

          @media (max-width: 600px) {
               height: 330px;
          };
     }

     &__wrapper {
          flex: 1 1 auto;
     }

     &__title {
          text-align: center;
          line-height: 45px;
          font-size: 35px;
     }

     &__list {
          padding: 30px 15px 0;
          margin: 40px 0;
          font-size: 20px;

     }

     &__item {

          &:not(:last-child) {
               margin-bottom: 30px;
          }
          &::before {
               content: "";
               display: inline-block;
               width: 20px;
               height: 20px;
               margin-right: 10px;
               background: url("../../assets/mainPage/disc.svg") no-repeat center/cover;
          }
     }

     @media (max-width: 600px) {
          padding: 10px 0;
     };
}
