.slider {
     width: 100%;
     box-sizing: border-box;
     padding: 10px ;

     
     &__wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
     }

     &__wrapper-div {
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          padding: 20px;

          display: flex;
          align-items: center;
          justify-content: center;
     }

     &__slide {
          // width:70%;
          margin: 0 auto;
          overflow: hidden;
          height: 290px;
          

          display: flex;
          align-items: center;
          justify-content: center;

          @media (min-width: 600px) {
               height: 360px;
          };
     }


     &__button-prev {
          position: absolute;
          bottom: 0px;
          left: 30px;
          font-size: 52px;
          transition: all 0.3s ease 0s;
          width: 20px;
          height: 20px;
          background: url("../../assets/mainPage/slider/bi_arrow-left-circle.svg") no-repeat center/cover;
          
          &:hover {
               border-color: transparent #848483 transparent transparent;
               transform: scale(1.1);
          }

          @media (max-width: 380px) {
               left: 10px;
          };
     }

     &__button-next {
          @extend .slider__button-prev;
          transform: rotate(180deg);
          left: 90%;
          background: url("../../assets/mainPage/slider/bi_arrow-left-circle.svg") no-repeat center/cover;

          &:hover {
               transform: scale(1.1) rotate(180deg);
               border-color: transparent transparent transparent #848483;
          }
     }

     @media (min-width: 630px) {
          padding: 20px 10px;
     };
}

