//-<Шрифты по умолчанию>=================================================
$font-family: 'Roboto', sans-serif;
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1500;
$minWidth: 320;
$maxWidthContainer: 1440;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================