.swiper {
     z-index: 5;
     position: fixed;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     border-radius: 10px;
     background-color: rgb(0, 0, 0, .7);

     &__wrapper {
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          padding: 60px 40px ;
          width: 100%;
          margin: 0 auto;
          // background-color: rgba(19, 19, 19, 1);

          @media (max-width: 520px) {
               padding: 40px 5px ;
          };
     }

     &__slide {
          position: relative;
          max-width: 1500px;
          margin: 0 auto;
          padding: 400px 40px 220px 40px;

          @media (max-width: 979px) {
               padding: 20% 0 220px;
          };

          @media (max-width: 450px) {
               padding: 10% 0 220px;
          };

          img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: contain;

               @media (max-width: 500px) {
                    object-fit: scale-down;
               };

          }
     }

     &__pagination {
     }

     &__button-prev {
          position: absolute;
          transform: rotate(-90deg) translate(-50%);
          color: #999;
          font-size: 30px;
          font-weight: 900;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.3s ease 0s;

          &_prev1 {
               left: 20px;
               bottom: 50%;

               @media (max-width: 520px) {
                    left: calc(50% - 80px);
                    bottom: 40px;
               };
          }

          @media (min-width: 750px) {
               &:hover {
                    color: #FBFF22;
                    transform: rotate(-90deg) translate(-50%) scale(1.3);
               }
          }

          @media (max-width: 750px) {
               &:active {
                    color: #FBFF22;
                    transform: rotate(-90deg) translate(-50%) scale(1.3);
               }
          }
     }

     &__button-next {
          @extend .swiper__button-prev;
          right: 20px;
          bottom: 50%;
          transform: rotate(-90deg) translate(-50%);

          @media (max-width: 520px) {
               bottom: 40px;
               right: calc(50% - 80px);
          };

     }

     &__close {
          position: absolute;
          right: -20px;
          top: 0;
          width: 25px;
          line-height: 25px;
          font-size: 32px;
          color:#000;
          transition: all 0.3s ease 0s;
          background-color: #fff;
          border-radius: 50%;

          @media (min-width: 750px) {
               &:hover {
                    color: #FBFF22;
               }
          }

          @media (max-width: 750px) {
               &:active {
                    color: #FBFF22;
               }
          }

          @media (max-width: 520px) {
               right: 10px;
               top: -20px;
          };
     }

     &__pagination-block {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%);
          display: flex;
          align-items: center;
          gap: 25px;
     }

     &__dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #FBFF22;
          z-index: 4;

          &.active {
               transform: scale(1.5);
          }
     }
     
}

.slide  {

     &__desc {
          z-index: 1;
          font-size: 10px;
          padding: 20px 10px;
          color: black;
          margin: auto 0 0 0;
     }
}