.money-block {
     position: absolute;
     right: 30px;
     top: -10px;
     font-size: 15px;
     color: #FBFF22;
     pointer-events: none;
     white-space: nowrap;
     text-align: left;

     &__text {
          color: #999;

          @media (max-width: 770px) {
               display: block;
               line-height: 2.5em;
          };

          @media (max-width: 695px) {
               display: inline-block;
          };
     }

     &__thousands {
     }

     &__hundreds {
     }

     &__percentage {
          color: #999;
     }

     @media (min-width: 1121px) {
          right: 30px;
          top: -100px;
     };

     @media (max-width: 1121px) {
          left: 10%;
          top: 190px;
     };

     
     @media (max-width: 795px) {
          left: 4%;
     };

     @media (max-width: 770px) {
          span:nth-child(2) {
               margin-left: 80px;
          }
     };

     @media (max-width: 695px) {
          span:nth-child(2) {
               margin-left: 10px;
          }
     };

     @media (max-width: 695px) {
          width: 100%;
          text-align: center;
          top: 600px;
          left: 0;
          
     };


     @media (max-width: 469px) {
          top: 630px;
     };

}
