//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "./css-tools/_nullStyle";
@import "./css-tools/_variables";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
// @import "_header";
//@import "_footer";
//@import "_home";
//@import "_forms";
//@import "_UI";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
//@import "fonts"; //ипорт локально
//@import url() - импорт ссылкой
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
body {
     font-size: 32px;
     font-family: $font-family;
     font-weight: 600;
     color: #ffff;
     background-color: #000;

     &._lock {
          overflow: hidden;
     }
}

//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     width: 100%;
}

//---------------------------------------
._container {
     max-width: $maxWidthContainer + px;
     padding: 0 10px;
     margin: 0 auto;
}

._container-project {
     position: relative;
     
     padding: 0 10px;
     margin: 0 auto;

     @media (min-width: 500px) {
          max-width: 79%;
     };
}

// @media (max-width: $md1+px) {
//      max-width: 970px;
// }

// 	@media(max-width: $md2+px) {
// 		max-width: 750px;
// 	}
// 	@media(max-width: $md3+px) {
// 		max-width: none;
// 		padding: 0 10px;
// 	}
// }
//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {
     color: inherit;
     font-size: inherit;
}

.css-wrapper-enter {
     opacity: 0;
     transform: scale(.7);
     margin-top: 120px;
   }
   .css-wrapper-enter-active {
     opacity: 1;
     margin-top: 0;
     transform: scale(1);
     transition: all 750ms;
   }

   .css-wrapper-enter-done {
     opacity: 1;
     margin-top:0px

   }
   .css-wrapper-exit {
     opacity: 1;
   }

 
//-<Основная сетка>==================================================================