.main-page {
     &__left-side {
          position: relative;
          flex: 0 1 50%;

          @media (max-width: 1120px) {
               text-align: center;
          };

          @media (max-width: 695px) {
               margin-top: 50px;
          };
     }

     // &__title-greeting {
     //      position: relative;
     //      font-size: 36px;
     //      font-weight: 600;
     //      line-height: 54px;

     //      @media (max-width:1120px) {
     //           font-size: 55px;
     //           line-height: 1.5em
     //      }

     //      @media (max-width:695px) {
     //           font-size: 35px;
     //           text-align: center;
     //      }

     // }

     &__name {
          position: relative;
          margin: 10px 0;
          font-size: 62px;
          font-weight: 600;

          span {
               color: #fff;
          }

          @media (max-width:1120px) {
               font-size: 35px;
          }

          @media (max-width:785px) {
               font-size: 25px;
          }

          @media (max-width:695px) {
               font-size: 45px;
               text-align: center;
          }

     }

     &__profession {
          position: relative;
          padding: 0px 0px 30px 0px;
          font-weight: 500;
          font-size: 20px;
          line-height: 45px;
          color: #999999;

          &::after {
               content: "";
               display: inline-block;
               position: absolute;
               left: 0;
               bottom: 0;
               width: 76px;
               background-color: #999999;
               border: 3px solid #999999;
               border-radius: 15px;


               @media (max-width:1120px) {
                    display: none;

               }
          }

          @media (max-width:1120px) {
               font-size: 15px;
          }

          @media (max-width:695px) {
               text-align: center;
          }
     }

     &__descr-text {
          padding: 20px 0px 0px 0px;
          margin: 30px 0px 50px 0px;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-align: justify;
          color: #999999;
          white-space: pre-line;

          @media (max-width:1120px) {
               display: none;
          }


     }

     &__btn-section {
          margin-top: 60px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
               flex: 1 1 auto;
               max-width: 500px;
          }
     }

     &__right-side {
          position: relative;
          flex: 1 1 auto;
          align-self: start;

          span {
               display: inline-block;
               position: absolute;
               top: 35px;
               right: 60px;
               opacity: 0.6;
               width: 104px;
               height: 58px;
               background: url("../../assets/mainPage/pluses.svg") no-repeat center/contain;

               @media (max-width:1120px) {
                    right: -40px;
                    top: -10px;
               }
          }

          @media (max-width:950px) {
               align-self: center;
          }
          
          @media (min-width: 430px) {
               padding: 0 20px 0 0;
          };
     }

     &__wrapper {
          position: relative;
          width: 500px;
          height: 500px;

          
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
               content: "";
               z-index: 6;
               display: inline-block;
               width: 450px;
               height: 450px;
               position: absolute;
               bottom: 22px;
               left: 20px;
               background-color: transparent;
               border: 2px solid #FBFF22;
               border-radius: 350px 300px;
               box-shadow: inset 0 0 45px 15px #FBFF22;
               animation: shadowIn 5000ms ease-in-out infinite alternate;

               @media (max-width:1120px) {
                    width: 390px;
                    height: 390px;
                    bottom: -30px;
                    left: -20px;
               }

               @media (max-width: 430px) {
                    width: 350px;
                    height: 350px;
                    bottom: -20px;
                    left: -10px;
               };

               @keyframes shadowIn {
                    from {
                         transform: rotate(0);
                         box-shadow: inset 0 0 15px 0px #FBFF22;
                    }

                    to {
                         transform: rotate(360deg);
                         box-shadow: inset 0 0 45px 15px #FBFF22;
                    }
               }
          }

          &::before {
               content: "";
               opacity: 0.6;
               display: inline-block;
               position: absolute;
               bottom: 50px;
               left: 20px;
               width: 104px;
               height: 30px;
               background: url("../../assets/mainPage/lines-right.svg") no-repeat center/contain;

               @media (max-width: 1120px) {
                    left: 0px;
                    bottom: -20px;
               };

               @media (max-width:420px) {
                    width: 74px;
                    height: 30px;
               }
          }

          @media (max-width:1120px) {
               width: 350px;
               height: 350px;
          }

          @media (max-width:412px) {
               width: 330px;
               height: 330px;
          }
     }

     &__image-block {
          position: absolute;
          width: 430px;
          height: 500px;
          clip-path: circle(46% at 50% 50%);

          @keyframes load {
               from {
                   left: -100px;
               }
               to   {
                   left: 80%;
               }
          }

          .image-daria {

               img {
                    display: inline-block;   
                    object-fit: cover !important;
               }
          
          }

          @media (max-width: 1120px) {
               width: 380px;
               height: 400px;
          };  
          
          @media (max-width: 430px) {
               width: 330px;
               height: 350px;
          };
     }
}