.header {
     font-size: 20px;
     padding: 20px 0px 20px 0px;
     font-weight: 500;
     font-style: italic;

     &__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
     }


     &__left-side1 {
          display: flex;
          align-items: center;
          gap: 5px 1em;
          margin-right: 20px;
          text-align: center !important;

          @media (max-width: 1120px) {
               text-align: center;
               flex: 1 1 auto;
               justify-content: center;
               align-items: center;
          }

          @media (max-width: 400px) {
               justify-content: left;

          }
     }

     &__find-me {
          white-space: nowrap;
          transition: all 0.3s ease 0s;
          font-family: "Roboto";
          text-transform: uppercase;

          @media (max-width: 950px) {
               display: none;
          }

          @media (min-width: 750px) {
               &:hover {
                    color: #FBFF22
               }
          }
     }

     &__social-media {
          z-index: 7;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: all 0.3s ease 0s;
          cursor: pointer;

          a {
               display: block;
               width: 100%;
               height: 100%;
               z-index: 1;
          }

          &_fb {
               background: url("../../assets/icons/header/fb.svg") center/27px no-repeat #0F0F0F;
          }

          &_inst {
               background: url("../../assets/icons/header/instagram.svg") center/27px no-repeat #0F0F0F;
          }

          &_whtup {
               background: url("../../assets/icons/header/whatsapp.svg") center/27px no-repeat #0F0F0F;
          }

          &_linkIn {
               background: url("../../assets/icons/header/linkedin.svg") center/27px no-repeat #0F0F0F;
          }
          &_mail {
               background: url("../../assets/icons/header/email.svg") center/27px no-repeat #0F0F0F;
          }

          @media (min-width: 750px) {
               &:hover {
                    box-shadow: 1px -4px 5px #FBFF22 !important;
                    transform: scale(1.1) translateY(2px);
               }
          }
     }

     &__right-side {

     }

     @media (max-width:1140px) {
          font-size: 12px;
     }

     @media (max-width: 400px) {
          font-size: 8px;
     }

}

.right-burger {

     &__icon {
          display: none;
     }

     &__body {
          @media (max-width: 950px) {
               position: fixed;
               left: 0;
               top: 90px;
               display: block;
               width: 100%;
               height: calc(100vh - 90px);
               z-index: 6;
               overflow: hidden;
          }
     }

     &__menu {
          @extend .header__left-side1;
          margin: 0;
          z-index: 6;
          height: 100%;

          @media (min-width: 990px) {
               flex-wrap: wrap;
          };
          
     }

     &__pages-item {
          font-family: "Roboto";
          text-transform: uppercase;
          transition: all .3s ease 0s;
          font-size: 16px;

          @media (min-width: 975px) {
               font-size: 20px;
               &:hover {
                    border: 2px solid #FBFF22;
                    color: #FBFF22;
                    transform:translateY(0);
               }
          }

          @media (max-width: 750px) {
               &:active {
                    border: 2px solid #FBFF22;
                    color: #FBFF22;
                    transform:translateY(0);
               }
          }

          @media (max-width: 950px) {
               border: 2px solid #fff;
               border-radius: 20px;
               &:not(:last-child) {
                    margin-bottom: 2em;
               }
          }
     }

     @media (max-width: 950px) {
          &__icon {
               display: block;
               z-index: 7;
               position: relative;
               top: 0;
               left: 0;
               width: 30px;
               height: 28px;
               cursor: pointer;
               z-index: 5;

               span {
                    transition: all 0.3s ease 0s;
                    top: calc(50% - 1px);
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #FBFF22;
                    transition: all 0.3s ease 0s;

                    &:first-child {
                         top: 0;
                    }

                    &:last-child {
                         top: auto;
                         bottom: 0;

                    }

               }

               @media (min-width: 950px) {
                    &:hover {
                         span {
                              transform: scale(1.2);
                         }
     
                         span:not(:nth-child(2)) {
                              box-shadow: 3px -2px 10px 2px #FBFF22;
                         }
                    }
               }

               @media (max-width: 750px) {
                    &:active {
                         span {
                              transform: scale(1.2);
                         }
     
                         span:not(:nth-child(2)) {
                              box-shadow: 3px -2px 10px 2px #FBFF22;
                         }
                    }
               }

          }


          &.active {
               .right-burger {

                    &__icon {
                         z-index: 7;
                         
                         span:nth-child(2) {
                              transform: scale(0);
                         }

                         span:first-child {
                              transform: translate(0, 10px) rotate(-45deg) scale(1);
                         }

                         span {
                              transform: translate(0, -2px) rotate(45deg) scale(1);
                         }
                    }

                    &__body {
                         opacity: 0;
                         transition: all 1.3s ease 0s;
                    }

                    &__menu {
                         position: absolute;
                         width: 100%;
                         height: calc(100vh - 90px);
                         box-sizing: border-box;
                         left: 0;
                         top: 0;
                         overflow: auto;
                         background-color: #000;
                         text-align: center;
                         display: flex;
                         flex-direction: column;
                         justify-content: center;

                         button {
                              font-size: 22px;
                              width: 200px;
                         }
                    }
               }
          }
     }
}