.header {
     font-size: 20px;
     padding: 20px 0px 20px 0px;

     &__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }


     &__left-side {
          display: flex;
          align-items: center;
          gap: 5px 1em;
          margin-right: 20px;

          @media (max-width: 950px) {
               flex: 1 1 auto;
               justify-content: center;
          }

          @media (max-width: 400px) {
               justify-content: left;

          }
     }

     &__find-me {
          white-space: nowrap;
          transition: all 0.3s ease 0s;

          @media (max-width: 950px) {
               display: none;
          }

          @media (min-width: 750px) {
               &:hover {
                    color: #FBFF22
               }
          }
     }

     &__social-media {
          z-index: 5;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: all 0.3s ease 0s;
          cursor: pointer;

          a {
               display: block;
               width: 100%;
               height: 100%;
               z-index: 1;
          }

          &_fb {
               background: url("../../assets/icons/header/fb.svg") center/27px no-repeat #0F0F0F;
          }

          &_inst {
               background: url("../../assets/icons/header/instagram.svg") center/27px no-repeat #0F0F0F;
          }

          &_whtup {
               background: url("../../assets/icons/header/whatsapp.svg") center/27px no-repeat #0F0F0F;
          }

          &_linkIn {
               background: url("../../assets/icons/header/linkedin.svg") center/27px no-repeat #0F0F0F;
          }
          &_mail {
               background: url("../../assets/icons/header/email.svg") center/27px no-repeat #0F0F0F;
          }

          @media (min-width: 750px) {
               &:hover {
                    box-shadow: 1px -4px 5px #FBFF22 !important;
                    transform: scale(1.1) translateY(2px);
               }
          }
     }

     &__right-side {}

     @media (max-width:1140px) {
          font-size: 12px;
     }

     @media (max-width: 400px) {
          font-size: 8px;
     }

}

.right-burger {

     &__icon {
          display: none;
     }

     &__body {
          @media (max-width: 950px) {
               display: none;
          }
     }

     &__menu {
          @extend .header__left-side;
          flex-wrap: wrap;
          margin: 0;
     }

     &__pages-item {

          &:hover {
               border: 2px solid #FBFF22;
               color: #FBFF22;
               transform:translateY(0);
          }

          @media (max-width: 950px) {
               &:not(:last-child) {
                    margin-bottom: 1em;
               }
          }
     }

     @media (max-width: 950px) {
          &__icon {
               display: block;
               position: relative;
               top: 0;
               left: 0;
               width: 30px;
               height: 28px;
               cursor: pointer;
               z-index: 5;

               span {
                    transition: all 0.3s ease 0s;
                    top: calc(50% - 1px);
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #FBFF22;

                    &:first-child {
                         top: 0;
                    }

                    &:last-child {
                         top: auto;
                         bottom: 0;
                    }

               }

               &:hover {
                    span {
                         transform: scale(1.2);
                    }

                    span:not(:nth-child(2)) {
                         box-shadow: 3px -2px 10px 2px #FBFF22;
                    }
               }
          }


          &.active {
               .right-burger {

                    &__icon {
                         span {
                              transform: scale(0);
                         }

                         span:first-child {
                              transform: rotate(-45deg);
                         }

                         span:last-child {
                              transform: translateY(-24.5px) rotate(45deg);
                         }
                    }

                    &__body {
                         display: block;
                         width: 100%;
                    }

                    &__menu {
                         display: block;
                         position: absolute;
                         width: 100%;
                         height: 100%;
                         left: 0;
                         top: 0;
                         padding-top: 10%;
                         font-size: 32px;
                         overflow: auto;
                         background-color: #000;
                         text-align: center;

                    }
               }
          }
     }
}