.container-image {
     width: 100%; 
     min-height: 200px;

     img {
          width: 100%;
          max-height: 100%;
          border-radius: 20px;
          object-fit: contain;
     }

     &::before {
          content: '';
          display: block;
          position: absolute;
          left: -100px;
          top: 0;
          height: 100%;
          width: 50px;
          background: linear-gradient(to right, transparent 0%, yellow 50%, transparent 100%);
          animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
     }
     
     &.image-loaded {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          border-radius: 15px;


          display: flex;
          align-items: center;
          justify-content: center;

          img {
               width: 100%;
               max-height: 100%;
               border-radius: 20px;
               object-fit: contain;
          }

          &::before {
               display: none;     
          }
     }
}
