//==================================================================================
.gift {
     display: none;

     z-index: 10;
     position: fixed;
     left: 0;
     top: 0;  
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0, .9);

     &__dialog {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
     }

     &__content {
          position: absolute;
          width: 50%;
          padding: 20px;
          background-color: #FBFF22;
          border-radius: 25px;
          color: #000;
          text-align: center;

          h2 {
               font-size: 40px;
               text-transform: uppercase;
               padding: 10px 0;
          }

          p {
               padding: 20px 10px;
               font-size: 22px;
               line-height: 37px;

               span {
                    display: inline-block;
                    margin:0 50px 0 10px;
                    padding: 5px 25px;
                    color: #fff;
                    background-color: rgb(11, 134, 79);
                    border-radius: 15px;
               }
          }
     }

     &__close {
          position: absolute;
          right: -20px;
          top: -30px;
          color: #FBFF22;
          background-color: #000;
          cursor: pointer;
     }

     &__socials-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 130px;

          li {
               background-color: rgb(11, 134, 79);
          }
     }
}
