//==================================================================================
.gift {
   
     z-index: 10;
     position: fixed;
     left: 0;
     top: 0;  
     width: 100%;
     height: 100%;
     // min-width: ;
     background-color: rgb(0, 0, 0, .9);
     overflow: auto;

     &__dialog {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
     }

     &__content {
          position: absolute;
          // width: 740px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 740px;
          padding: 20px;
          background-color: #FBFF22;
          border-radius: 25px;
          color: #000;
          text-align: center;

          h2 {
               font-size: 40px;
               text-transform: uppercase;
               padding: 10px 0;

               @media (max-width: 560px) {
                    font-size: 30px;
               };
          }

          p {
               padding: 20px 10px;
               font-size: 22px;
               line-height: 37px;

               span {
                    display: inline-block;
                    margin: 0 50px 0 10px;
                    padding: 5px 25px;
                    color: #fff;
                    background-color: rgb(11, 134, 79);
                    border-radius: 15px;

                    @media (max-width: 900px) {
                         margin: 0;
                    };
               }

               @media (max-width: 900px) {
                    font-size: 17px;
               };

               @media (max-width: 410px) {
                    font-size: 15px;
                    padding: 10px 10px;
               };
          }

          @media (max-width: 900px) {
               width: 100%;
               padding: 20px 0;
          };
     }

     &__close {
          font-size: 32px;
          position: absolute;
          right: 20px;
          top: 0;
          color:#000;
          background-color: transparent;
          cursor: pointer;

          @media (min-width: 810px) {
               right: -20px;
               top: -30px;
               color: #FBFF22;
          };
     }

     &__socials-list {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 20px;
          flex-wrap: wrap;
          padding: 0 130px;

          li {
               background-color: rgb(11, 134, 79);

               @media (max-width: 431px) {
                    &:not(:last-child) {
                         margin-right: 5px;
                    }
               };
          }

          @media (max-width: 900px) {
               padding: 0 10px;
          };
     }
}
