.footer {
     position: relative;
     margin-top: 2em;
     padding: 1em .5em;
     background-color: #131313;

     &__container {
          text-align: center;

          @media (min-width:470px) {
               display: flex;
               align-items: center;
               justify-content: space-between;
          };

          
     }

     &__left-side {
          justify-self: start !important;
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          gap: 0 20px;
     }

     &__central {
          display: inline-block;
          position: relative;
          height: 100%;
          font-size: 12px;
          line-height: 1.5em;
          font-weight: 800;
          text-align: left;
          white-space: pre-line;


          div {
               position: relative;
               top: 0;
               left: 0;
               display: inline-block;
          }

          @media (max-width: 810px) {
               font-size: 12px;
          };

          @media (max-width: 660px) {
               display: none;
          };
     }

     &__rights {
          position: relative;
          font-size: 14px;
          display: inline-flex;
          align-items: center;
          gap: 5px;
          justify-content: right;
          color: #999;
          pointer-events: none;

          img {
               width: 10%;
               transform: translateY(-5%);
          }

          @media (max-width:470px) {
               font-size: 14px;
               opacity: 0.3;
          };
     }

     
     @media (max-width:470px) {
          padding: .4em .1em;
     };

     @media (min-width:470px) {
          margin-top: 4em;
     };
     
}
