.experince {
     position: relative;
     font-size: 22px;
     line-height: 25px;
     width: 100%;
     height: 600px;

     h3 {
          position: relative;
          font-size: 50px;
          line-height: 1.5em;
          text-align: center;
          margin-bottom: 40px;

          &::after {
               content: "";
               display: inline-block;
               width: 150px;
               height: 5px;
               position: absolute;
               right: 50%;
               bottom: 0px;
               background-color: #FBFF22;
               box-shadow: 3px 0 15px 5px #FBFF22;

               @media (max-width: 500px) {
                    width: 100%;
                    right: 0;
               };
          }
     }
     
     &__wrapper {
          position: relative;
          text-align: center;
          width: 100%;
          height: 80%;
          background: url("../../assets/mainPage/exper.jpg") no-repeat center/contain;

          div {
               position: absolute;

               &:nth-child(odd) {
                    top: 10px;

                    @media (min-width:950px) {
                         left: 30px;
                    };

                    @media (max-width: 430px) {
                         font-size: 17px;
                  };
               }

               &:nth-child(even) {
                    top: 10px;
                    left: 60%;
                    @media (min-width:950px) {
                         left: 70% !important;
                    };

                    @media (max-width: 430px) {
                         font-size: 17px;
                  };

                  p {
                    white-space: nowrap;
                  }
               }
          }

          @media (min-width: 1450px) {
               padding: 0 60px;
          };
     }

     &__atom {
        
     }

     &__first-client {
        top: 80px !important;
     }

     &__info-chigans {
          top: 150px !important;          
     }

     &__agency-first {
          top: 220px !important;
     }

     &__agency-second {
          top: 270px !important;
     }

     &__personal-consult {
          top: 340px !important;
     }

     &__total-amount {
          top: 410px !important;
     }

     &__cover {
          position: absolute;
          left: 46%;
          top: 37%;
          width: 90px;
          height: 60%;
          background-color: black;
          transition: all 1.3s ease 0s;

          @media (max-width: 1120px) {
               display: none;
          };
     }

     @media (min-width: 750px) {
          padding: 0 30px;
     };

     span {
          font-size: 15px;
          color: #FBFF22;
     }
     
}
